<% provide(:title, @user.username) %>
<div class="row">
  <aside class="col-md-8">
    <section class="user_info">
        <h1>
            Bienvenido <%= @user.username %> </br>
            Has entrado con el rol de: <%= @user.role %>
        </h1>
    </section>
    </div>
  </aside>
</div>